@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    background-color: #001514 ; color:#c7f2a7;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    font-family: 'PT Sans', sans-serif;
    background-color: #001514 ; color:#c7f2a7;
}
nav a:hover {
    background-color: #978a90; color: #001514;
}
.book, .join {
    background-color: #c98ca7; color: #001514;
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #001514 ; color:#c7f2a7;
}
.msg {
    background-color: #c98ca7; color: #001514;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #001514 ; color:#c7f2a7;
    padding: 25px 50px;
    margin-top: 200px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;

}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #001514;
}
.home-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    color: #001514;
    margin-top: 10px;
}
h4 {
    color: #c98ca7;
}
.msg h2{
    color: #c98ca7;
}
.msg p{
    font-size: .8em;
    color:#001514;
    padding-bottom: 15px;
}
footer h3{
    color:#001514
}
footer a{
    color: #001514;
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer a:hover{
    color: #001514;
}
.icon {
    padding-top: 10px;
    width: 80px;
}
footer h3 a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #001514
}
main section img {
    box-sizing: border-box;
}