@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    background-color: #001514 ; color:#c7f2a7;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    font-family: 'PT Sans', sans-serif;
    background-color: #001514 ; color:#c7f2a7;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #978a90; color: #001514;
}
.book, .join {
    background-color: #c98ca7; color: #001514;
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #001514 ; color:#c7f2a7;
}
.msg {
    background-color: #c98ca7; color: #001514;
    line-height: 1.5em;
    padding: 35px;
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 6;
        grid-row-end: 7;
        box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #001514 ; color:#c7f2a7;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#content {
    max-width: 1600px;
    margin: 0 auto;

}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: -1;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-msg h4 {
    color: white;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #001514;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 9;
}
.home-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    color: #001514;
    margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-columns: 10;


}
h4 {
    color: #c98ca7;
}
.msg h2{
    color: #c98ca7;
}
.msg p{
    font-size: .8em;
    color:#001514;
    padding-bottom: 15px;
}
footer h3{
    color:#001514
}
footer a{
    color: #001514;
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer a:hover{
    color: #001514;
}
.icon {
    padding-top: 10px;
    width: 80px;
}
footer h3 a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 10px;
    justify-self: center;
    align-self: center;
    width: 80px;
}
footer .social img {
    padding-top: 15px
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #001514;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
main section img {
    box-sizing: border-box;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.camping-card {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.rapids-card {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}
.mountains {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
        height: 100%;
        width: 100%;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}