@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;

}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    background-color: white; color: #06070e;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
h1 {
    font-weight: bolder;
}
header {
    font-family: 'Roboto', sans-serif;
    background-color: white; color: #06070e;
    display: grid;
    grid-template-columns: 1% 20% 30% 20%;
    grid-template-rows: 20% 20% 60%
}
#logo_link {
    padding-top: 20px;
    justify-self: center;
    align-self: center;
    width: 40px;
    grid-column: 1;
    grid-row: 2;
    padding-top: 75px;
}
#logo-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
nav {
    overflow: hidden;
    background-color: #06070e;
    grid-column: 2/6;
    grid-row: 2;
    color: #c7dbe6;
    align-self: center;
    justify-self: center;
  }
  nav a {
    float: left;
    display: block;
    color: #c7dbe6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  nav a:hover {
    background-color: #7e4e60;
    color: #c7dbe6;
  }
  nav a.active {
    background-color: #06070e;
    color: #c7dbe6;
  }
  nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  @media screen and (max-width: 600px) {
    nav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    nav input[type=text] {
      border: 1px solid #ccc;
    }
  }
footer {
    background-color: #06070e ; color:#c7dbe6;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lowernav {
    background-color: #c7dbe6;
    float: left;
    display: block;
    color: #c7dbe6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.lowernav a:hover { 
    background-color: #7e4e60;
    color: #c7dbe6;
}
.line {
    width: 1600px;
border-bottom: 7px solid #7e4e60;
position: absolute;
}

.first-grid {
    display: grid;
    grid-template-columns: 50px 1fr 50px 1fr 50px 1fr 50px;
    grid-template-rows: 250px 1fr 200px 1fr 10px 
}
#title {
    text-align: center;
    grid-column: 2/7;
    grid-row: 1;
    
}
h1 {
    font-size: 36px;
    text-decoration: underline #c7dbe6;
}
.card-img {
    height: 220px;
    width: 340px;
}
.base-card {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    transition: transform .5s;
    box-shadow: 5px 5px 5px 5px #7e4e60;
    border-color: #7e4e60;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.offroad-card {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
    transition: transform .5s;
    box-shadow: 5px 5px 5px 5px #7e4e60;
    border-color: #7e4e60;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.luxury-card {
    grid-row: 2;
    grid-column: 6;
    text-align: center;
    transition: transform .5s;
    box-shadow: 5px 5px 5px 5px #7e4e60;
    border-color: #7e4e60;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.double-card {
    grid-row: 4;
    grid-column: 2;
    text-align: center;
    transition: transform .5s;
    box-shadow: 5px 5px 5px 5px #7e4e60;
    border-color: #7e4e60;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.commuter-card {
    grid-row: 4;
    grid-column: 4;
    text-align: center;
    transition: transform .5s;
    box-shadow: 5px 5px 5px 5px #7e4e60;
    border-color: #7e4e60;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.work-card {
    grid-row: 4;
    grid-column: 6;
    text-align: center;
    transition: transform .5s;
    box-shadow: 5px 5px 5px 5px #7e4e60;
    border-color: #7e4e60;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
#rules {
    grid-column: 2/6;
    grid-row: 5;
}
h4 {
    margin-top: 40px;
    font-size: 16px;
}
h5 {
    font-size: 12px;
}